@import "functions";

$defaultWF: 400;

@mixin t($fontFamily, $fs, $lh: 1, $wf: $defaultWF, $ls: 0) {
    font-family: $fontFamily;
    font-size: rm($fs);
    @if($lh == #{$lh}) {
        line-height: $lh;
    } @else {
        line-height: rm($lh);
    }
    font-weight: $wf;
    letter-spacing: $ls;
}

@mixin ellipsis($nowrap: true) {
    overflow: hidden;
    text-overflow: ellipsis;
    @if($nowrap) {
        white-space: nowrap;
    }
}

@mixin noScrollbars() {
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
}
